{% extends 'landbase.html' %}

{% load staticfiles %}

{% block title %} Musician Services | MediaCoin {% endblock %}

{% block page-styles %}

    <link href="{% static 'stylesheets/pages/referral.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="section space-for-header">
			
			
		</div>
   <style>
   li {
   color: white;
   }
   p.artist__text {
   color: white;
   }
   </style>
   
    <section class="section section__refund">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 id="musicianservice">We Are Mediacoin</h1>
                </div>
            </div>
            <div class="row">Secure Publishing, Distribution, and Payment System For Musicians</div>
			<h2>ICO IS LIVE!</h2>
             <h3>December 21, 2017 - February 28, 2018</h3>
            <p class="description">
			1 ETC per 1000 QMCT tokens
			</p>
           <div class="progressimg">
			<img width="85%" src="/static/images/token-sale-graph.png" title="ICO Progress" class="js-srcset-img shortcode-image" alt="">
		</div>
            
            <div class="row">
                <div class="col-xs-12">
                    <p class="artist__text">
                        We are bringing the power back to the creator, artists, and authors of their content. Imagine being a step closer to preventing piracy of content or bootlegs of creative digital work on the web! Cybersecurity for content.
                    </p>
				</div></div>
           
            <div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-4">
					<ul>
						<li>Advertising:
							<ol>
								<li>MediaCoin advertising dollars</li>
								<li>Venues that advertise your gigs</li>
								<li>Online, print, social, guerilla advertising</li>	
							</ol>
						</li>
						<li>Events and Shows:
							<ol>
								<li>Booking gigs</li>
								<li>Music Festivals</li>
								<li>Access to our partner network</li>
								<li>Tell us the city, we set up the shows</li>
								<li>Gig, event and show management</li>
							</ol>
						</li>
						<li>Marketing:
							<ol>
								<li>Extra attendance for shows</li>
								<li>News and announcements for each gig and event</li>
								<li>Media syndication and sharing</li>
								<li>Social media syndication (posting and cross posting multiple accounts)</li>
								<li>Apparel, Fashion, Logo, Design and Brand creation</li>
							</ol>
						</li>
						<li>Payment:
							<ol>
								<li>Get paid directly for every music play</li>
								<li>Get paid directly by the venue for a gig, or make us handle it</li>
								<li>Prepaid credit card, Paypal, merchant card services</li>
							</ol>
						</li>	
						<li>Technology:
							<ol>
								<li>Twitter, Facebook, Instagram, and many more</li>
								<li>Publishing Content</li>
								<li>Streaming of Live Events</li>
								<li>Device specific access (ringtones)</li>
								<li>Content and Payment Security</li>
								<li>Website creation, hosting, SEO, promotion</li>
								<li>App tracking for contact management</li>
							</ol>
						</li>	
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-4">
						<li>Marketplace:
							<ol>
								<li>Musicians looking for bands</li>
								<li>Bands looking for musicians</li>
								<li>Musicians trying to start a band</li>
								<li>Independent Remaster Marketplace</li>
								<li>Independent Designer Marketplace</li>
								<li>Independent Video Editing Marketplace</li>
								<li>Songwriter listings</li>
								<li>Vocaloid services</li>
								<li>Copyright licensing</li>
							</ol>
						</li>	
						<li>Legal:
							<ol>
								<li>Recording Contracts</li>
								<li>Legal Contracts</li>
								<li>Insurance where required</li>
								<li>Commercial Licensing (games, TV, commercials)</li>
							</ol>
						</li>	
						<li>Publication:
							<ol>
								<li>Discount Recording Studio Time</li>
								<li>CD Remastering</li>
								<li>Featured content on MediaCoin</li>
								<li>Appearances and coordination</li>
								<li>Two Way Live Streamings</li>
							</ol>
						</li>
						<li>Business:
							<ol>
								<li>Partnerships and Joint Ventures</li>
								<li>Discount access to services</li>
								<li>Shared travel and cost splits</li>
								<li>Accounting and Tax services</li>
							</ol>
						</li>	
						</div> </div>
												<div class="col-xs-12 col-sm-6 col-lg-4">
												<p class="artist__text"> something else</p>
												</div>

			<div class="row">
                <div class="col-xs-12">
                    <p class="artist__text">
                        Immutability of <div class="redtext">blockchain</div> can not be undone, therefore, executed transactions
                        cannot be reversed. In the situation where token has been spent, there will be no
                        refund possibilities available.
                    </p>
                    <p class="artist__text">
                        We, at MediaCoin are not responsible and are under no liability for incidences
                        caused by PC malfunction, misunderstanding, or failure to adhere to policies and
                        procedures laid out in facets of our website.
                    </p>
                    <p class="artist__text">
                        Please be informed that MediaCoin is an ever evolving development and is not an
                        official currency, however, most institutions will still require you to pay income,
                        sales, capital gains, and/or any other applicable taxes on anything that has value,
                        including cryptocurrency.  We encourage you to consult an expert before making any
                        major investments, as it is your responsibility to adhere to legal and regulatory
                        mandates issued by government entities.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
