{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Join our Token Sale | MediaCoin {% endblock %}

{% block page-styles %}

<link href="/static/land/landing_page.css" rel="stylesheet">

{% endblock %}

{% block content %}
<style>
	#centerimage {
		align-content:center;
	}
	h1 { color:whitesmoke;
	}
	body {background-color: black;
	}
	h3 {color:lightgray;
	}
	h2 {color:#2096FF}
	p {color: aliceblue;
	}
	li {color: aliceblue;
	}
	.btn {
  background: #424242;
  background-image: -webkit-linear-gradient(top, #424242, #000000);
  background-image: -moz-linear-gradient(top, #424242, #000000);
  background-image: -ms-linear-gradient(top, #424242, #000000);
  background-image: -o-linear-gradient(top, #424242, #000000);
  background-image: linear-gradient(to bottom, #424242, #000000);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 17px;
  padding: 4px 8px 4px 8px;
  border: solid #8cd3ff 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.space-for-header{
	margin-top: 120px;
}
h3 {
	text-align:center;
}
</style>

   
<div class="section space-for-header">
</div>
   
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <h1 id="landingpge2" class="text-center">We are MediaCoin!</h1>
                  <h3>Secure Content Delivery for Everyone</h3>
		  <h2 class="text-center">Token Sale IS LIVE!</h2>
                  <h3>March 1, 2018 to March 15, 2018</h3>
            	  <h3> 1 ETC per 900 QMCT tokens </h3> <h3> 1 ETH per 25000 QMCTe tokens </h3>
		  <h3>Total Market Cap: 1 Billion QMCT, 1 Billion QMCTe</h3>
           <hr></hr>
          	<div class="progressimg">
		   <img width="826" src="/static/images/token-sale-graph.png" title="Token Sale Progress" class="js-srcset-img shortcode-image img-responsive" id="centerimage" alt="">
	        </div>
              <h3><a href="/token.html">BUY QMCT &amp; QMCTe</a></h3>
              <h3> Bringing power back to Creators, Artists, and Authors of Valued Content.</h3>
	     </div>
   	   </div>
           <hr></hr>
            <div class="row">
                <div class="col-xs-12 col-md-6">
					<ul>
						<li>Enterprise Solutions:
						  <ol>
								<li>HIPAA-compliant content delivery</li>
								<li>Personalized PKI (Public Key Infrastructure)</li>
								<li>Access granting or revocation buy identity, date, location, or custom tag</li>	
							</ol>
						</li>
						<li>Musician Benefits:
						  <ol>
								<li>Set Your Own Price, Pay Per View</li>
								<li>Content is secure, piracy proof</li>
								<li>Get paid directly for every music play</li>
								<li>Free advertising from us</li>
								<li>Gig, event and show management</li>
							</ol>
						</li>
						<li>Film Makers:
						  <ol>
								<li>Video encryption, piracy proof</li>
							</ol>
						</li>
						<li>User Benefits:
						  <ol>
								<li>Ads are “opt-in” only for Freemium</li>
								<li>Get Paid For Sharing, Promoting and Creating Playlists</li>
								<li>Prepaid credit card, Paypal, merchant card services</li>
							</ol>
						</li>	
					</ul>
						</div>
<div class="col-xs-12 col-md-6">
  <p class="artist__text"><strong> Our vision is to empower content creators by protecting their right to monetize and control their own content</strong></p>
  <p> Our mission is to use military grade encryption to secure digital content delivery across all platforms.
  We will provide encrypted digital content delivery, anti-piracy software, circumventing ISP restrictions net neutrality, HIPAA-compliant content delivery, Peer-to-Peer exchanges, cross-platform integration (desktop, mobile, iOS, Android, etc.), Mesh Network, Internet of Things, inter-device bandwidth sharing via tunneling and relay system, and Quantum safe cryptography. Further solutions will be developed as market needs are identified.</p>
</div>
<div class="col-xs-12 col-md-6">
  <picture alt="description of image">
    <!-- Default low resolution image -->
    <source src="/static/land/small.jpg">
    <!-- Medium resolution image -->
    <source src="/static/land/medium.jpg" media="(min-width: 768px)">
    <!--High resolution Image -->
    <source src="/static/land/large.jpg" media="(min-width: 1200px)">
    <!-- Fallback image incase the custom picture element is not supported -->
    <img src="/static/land/network-bulb.png" alt="description of image" class="img-responsive"> </picture>
</div>

<div class="row">
    <div class="col-xs-12">
	<hr></hr> 
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <h2 class="text-center">CORE PROBLEMS</h2>
                  <h3 class="text-center">In the Digital Content Industry</h3>
              </div>
	</div>
            
<div class="row">
  	<div class="col-xs-12 col-md-6">
  		<p class="artist__text">  
 Digital content has an issue. Currently, most data transmission is unencrypted, with the exception of highly ranked government officials and tightly kept trade secrets. This means that the information is not only easily intercepted and translated, but also is easily stolen and rebroadcasted.
Users need to understand that when content is stolen, not only the artist suffers. A common tactic employed by distributors is referred to as a "piracy tax." Assuming that some users will take a legitimate route in acquiring the product, they increase the price to account for the illegally obtained content. By forcing all users to legitimately purchase content, we will in turn benefit both users as well as artists by dramatically lowering the cost required to make the artist a fair profit, and not place the full burden on those who are willing to compensate the artist for their work.</p>
  		<p class="artist__text">  
Currently, the market's best offer is  a subscription-based payment model, which does not take into account how little they consume.  MediaCoin's pay-per-play system will optimize the user's budget by only charging for what they do actually consume at a rate decided by the artist.  By simply offering a fair alternative,  MediaCoin will be far and away the price leader in the ad-free content delivery network. </p>
	</div>
        <div class="col-xs-12 col-md-6">
					<ul>
						<li>Ownership rights:
						<ol>
							  <li>Data is controlled by platforms</li>
							  <li>Profits are rarely shared fairly</li>
							  <li>Piracy is taking over creators content</li>
						</ol>
						</li>
						<li>Physical and Digital Distribution:
					  	<ol>
						    <li>The distribution of your revenue takes time, sometimes months.</li>
					 	   <li> Artists do not know how or want to market themselves</li> 
		                    		   <li> Artists commonly do not know how to manage their budget</li>
		                    		   <li> Artists need support professional and personal assistance</li>
    						</ol>
						</li>
						<li>Data is not secure
						  <ol>
						    <li>Stolen content is costing creators billions</li>
						    <li>Legitimate content price is driven up due to piracy</li>
						    
						  </ol>
						</li>
						<li>Fees and Expenses
						  <ol>
							<li>Companies take too much money in sign up fees</li>
							<li>Companies take a large percentage of royalties</li>
							<li>Companies who manage budgets pay themselves first, not by performance</li>
						  </ol>
						</li>
				</ul>
		</div>
	</div>
<hr></hr>
        <div class="row">
                <div class="col-xs-12">
                  <h2 class="text-center">Whitepaper</h2>
		  <h3>	We offer our whitepaper only in English, More languages coming soon!</h3>
                  <h4 class="text-center"> <a href="/static/images/whitepaper.pdf">Read Whitepaper</a> </h4>
			
                </div>
        </div>
<hr></hr>
</div>
{% endblock %}
