{% extends 'landbase.html' %}

{% load staticfiles %}

{% block title %} Musician Services | MediaCoin {% endblock %}

{% block page-styles %}

<link href="{% static 'stylesheets/pages/referral.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="section space-for-header">
			
			
		</div>
   
    <section class="section section__refund">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <h1 id="musicianservice" class="text-center">WE ARE MEDIACOIN</h1>
                  <h3 id="musicianservice2" class="text-center">Secure Content Delivery For Everyone</h3>
                </div>
            </div>
            
			<h2 class="text-center">Token Sale is LIVE!</h2>
             <h3 class="text-center">December 21, 2017 - February 28, 2018</h3>
            <p class="description text-center">
			1 ETC per 1000 QMCT tokens
			</p>
           <div class="progressimg">
			<img width="85%" src="/static/images/token-sale-graph.png" title="Token Sale Progress" class="js-srcset-img shortcode-image" alt="">
		</div>
            
            <div class="row">
                <div class="col-xs-12">
                  <h3 class="artist__text text-center"> Bringing the power back to the creator, artists, and authors of their content.</h3>
</div></div>
           <hr></hr>
            <div class="row">
                <div class="col-xs-6">
					<ul>
						<li>Enterprise Solutions:
						  <ol>
								<li>HIPPA-compliant content delivery</li>
								<li>Personalized PKI (Public Key Infrastructure)</li>
								<li>Access granting or revocation buy identity, date, location, or custom tag</li>	
							</ol>
						</li>
						<li>Musician Benifets:
						  <ol>
								<li>Set Your Own Price, Pay Per View</li>
								<li>Content is secure, piracy proof</li>
								<li>Get paid directly for every music play</li>
								<li>free advertising from us</li>
								<li>Gig, event and show management</li>
							</ol>
						</li>
						<li>Film Makers:
						  <ol>
								<li>video encryption, piracy proof</li>
							</ol>
						</li>
						<li>User Benifets:
						  <ol>
								<li>ad free platform</li>
								<li>Get Paid For Sharing, Promoting and Creating Playlists</li>
								<li>Prepaid credit card, Paypal, merchant card services</li>
							</ol>
						</li>	
							</ol>
						</li>	
						</div>
<div class="col-xs-6">
  <p class="artist__text"><strong> Our vision is to empower content creators by protecting their right to monitize and control their own content</strong></p>
<p class="artist__text"></div> 
                        
                    </p>
						

<div class="col-xs-6">
  <p class="artist__text">  
  <div class="redtext"> Our mission is to use military grade encryption to secure digital content delivery across all platforms</div>
  We will provide encrypted digital content delivery, anti-piracy software, circumventing net neutrality restrictions (ISP Service), HIPPA-compliant content delivery, Peer-to-Peer exchanges, cross-platform integration (desktop, mobile, iOS, Android, Ect.), Mesh Network, Internet of Things, Inter-device bandwidth sharing via tunneling and relay system, and Quantum safe crytptography. Further solutions will be developed as market needs are brought to us.
  </p>
</div>
<div class="col-xs-6">
  <picture alt="description of image">
    <!-- Default low resolution image -->
    <source src="small.jpg">
    <!-- Medium resolution image -->
    <source src="medium.jpg" media="(min-width: 768px)">
    <!--High resolution Image -->
    <source src="large.jpg" media="(min-width: 1200px)">
    <!-- Fallback image incase the custom picture element is not supported -->
    <img src="../Desktop/MediaCoin/scrapbook/FB ADS/PSD/png/network-bulb.png" alt="description of image" class="img-responsive"> </picture>
  <div class="row">
    <div class="col-xs-12">
      <p class="artist__text"> 
    </div>
  </div>
                        
                    </div><div class="row"><div class="col-xs-12">
						<hr></hr> 
                    <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <h1 id="musicianservice" class="text-center">CORE PROBLEMS</h1>
                  <h3 id="musicianservice2" class="text-center">IN THE DIGITAL CONTENT INDUSTRY</h3>
              </div>
</div>
            
<div class="col-xs-6">
  <p class="artist__text">  
  <div class="redtext"> Digital content has an issue. </div>
   Currently, most data transmission is unencrypted, with the exception of highly ranked government officials and tightly kept trade secrets. This means that the information is not only easily intercepted and translated, but also is easily stolen and rebroadcasted.
Users need to understand that when content is stolen, not only the artist suffers. A common tactic employed by distributors is referred to as a "piracy tax." Assuming that some users will take a legitimate route in acquiring the product, they increase the price to account for the illegally obtained content. By forcing all users to legitimately purchase content, we will in turn benefit both users as well as artists by dramatically lowering the cost required to make the artist a fair profit, and not place the full burden on those who are willing to compensate the artist for their work.
Currently, the market's best offer is  a subscription-based payment model, which does not take into account how little they consume.  MediaCoin's pay-per-play system will optimize the user's budget by only charging for what they do actually consume at a rate decided by the artist.  By simply offering a fair alternative,  MediaCoin will be far and away the price leader in the ad-free content delivery network. 
  </p>
</div>
               <div class="row">
                <div class="col-xs-6">
					<ul>
						<li>Ownership rights:
							<ol>
							  <li>Data is controlled by platforms:</li>
							  <li>Profits are taken from the creaters</li>
							  <li>Piracy is taking over users content </li>
							</ol>
						</li>
						<li>Physical and Digital Distributian:
						  <ol>
						    <li>The distribution of your revenue takes time, sometimes months.</li>
						    
		  
    </ol>
</li>
						
						<li>Data is not secure
						  <ol>
						    <li>Stolen content is costing creators millions</li>
						    
							</ol>
						</li>	
							</ol>
						</li>	
						</div>
               <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <h1 id="musicianservice" class="text-center">WHITEPAPER</h1>
                  
              </div>
</div>

  <p class="artist__text">  
  <div class="redtext"> Currently we offer our white paper only in english</div>
  </p>
</div>
               <div class="row">
                
                 
					
                </div>
            </div>
        </div>
    </section>
{% endblock %}
