{% load staticfiles %}

<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>MediaCoin's Core Team</h2>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Ian Smith" class="img-circle" src="{% static 'images/faces/ian.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Ian Smith: Chief Technology Officer and Founder</h3>
<!--                                                <p class="small-text">Chief Technology Officer and Founder</p> -->
                                                <p class="description">A prominent blockchain expert and lead developer for MediaCoin Inc, Ian is at the head of a encryption project incorporating military-grade cryptography and blockchain authentication methods to allow secure content publication and streamline distribution, while preventing piracy or theft of content. Specializing in complex problem-solving in software architecture, data forensics, cross-platform integration, and automation, Ian has a high level of knowledge and experience in Network and OS Security,  Systems Theory, and project leadership. A small list of Ian’s achievements include: teaching Linux at NASA, writing partition tables in hexadecimal for partition recovery, mapping Living Systems to software models, Forex arbitrage network, fractal market predictions, and writing data extractors for 1980's packed binary dental records.</p>
						<p class="darklink"><a  href="https://www.linkedin.com/in/ian-smith-20a42876/ ">Ian Smith LinkedIn</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Andrew Lan" class="img-circle" src="{% static 'images/faces/andy.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Andrew Land: Sales and Marketing Manager</h3>
<!--                                                <p class="small-text">Sales and Marketing</p> =-->
                                                <p class="description">With over 10 years of sales experience for a family owned promotional product company, Andrew Land quickly developed the high level communication skills necessary for product promotion and professional networking needed in today's fast paced technology environment. Andrew has gained marketing and sales experience starting in 2005 with Landmark Promotions, has experience soliciting legal services, and has consulted many companies and individuals on regulatory compliance in the United States. As one of the initial employees of MediaCoin, Andrew has performed a variety of duties outside of sales, marketing, and legal compliance which has prepared him to overcome any obstacles he might encounter in the software and cryptocurrency space.</p>
						<p class="darklink"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Jeff Lam" class="img-circle" src="{% static 'images/faces/jefflam.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Jeff Lam Tian Hung: UI and Javascript Developer</h3>
<!--                                                <p class="small-text">Marketing</p> =-->
                                                <p class="description">Founder and Director of Teleo.co, a project management and team collaboration tool for small businesses. Previously Lead Sales Engineer in Asia for Symphony Communication Services, a secure collaboration and workflow technology company. He currently provides enterprise data management and integration solutions to banks in Singapore's Financial District. Jeff has served in a variety of roles including engineering, product design, marketing, and sales.</p>
						<p class="darklink"><a  href="https://www.linkedin.com/in/jefflamth/">Jeff Lam LinkedIn</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Garrett Meade" class="img-circle" src="{% static 'images/faces/garrett.jpg' %}"/>
							                </div>
							                <div class="description">
								<h3 class="title">Garrett Meade: Community Director</h3>
<!--								<p class="small-text">Jr Developer</p> -->
								<p class="description">A 2015 graduate, Garrett earned his bachelor's degree from Memphis University in business administration, while majoring in Economics.  From bussing tables to managing a boutique catering company, Garrett has served in a variety of roles in the hospitality industry for over ten years, including management at big 5 sporting goods. Garrett made a transition into marketing where he was a brand ambassador for Megabus.com, a multimillion dollar transportation corporation. Garrett's passion for economics and technology make him a great fit for MediaCoin.</p>
								<p class="darklink"><a  href="https://www.linkedin.com/in/garrett-meade-229615152">Garrett Meade LinkedIn</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Brian Shea" class="img-circle" src="{% static 'images/faces/brian.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Brian Shea: Marketing and Graphic Designer</h3>
<!--                                                <p class="small-text">Marketing and Graphic Designer</p> =-->
                                                <p class="description">Brian Shea is a graphic artist who, having spent the majority of his life on the Hawaiian islands, prides himself on having a very unique style of creativity. Brian has studied illustration and graphic design at the University of Hawaii and Santa Rosa College respectively. Along with his graphic design work, Brian is also very skilled in the fields of customer relations and hospitality having worked at multiple hotels in Hawaii during his studies. Brian enjoys illustrating his own comics, as well as painting with acrylics. Brian has a unique ability to learn quickly, and is able to apply his artistic talents to almost any task assigned to him.</p>
						<p class="darklink"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
            <div class="row">
				<div class="col-md-4">
					<div class="card card-member">
						<div class="content">
							<div class="avatar avatar-danger">
								<img alt="Gerald Adamson" class="img-circle" src="{% static 'images/faces/secret.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Gerald Adamson: Junior Developer</h3>
<!--                                                <p class="small-text">Jr Developer</p> =-->
                                                <p class="description">A combat veteran with over 12 years experience, and a Bachelor's Degree from Boise State University in Philosophy and Literature, Gerald has developed a love for software development, and currently in the study of Gaming, Interactive Media, and Mobile Technology where he continues his studies at Boise State. Gerald is an avid programmer, who has done freelance programming and website design for various customers, including short films in Virtual Reality and websites for local businesses. </p>
						<p class="darklink"></p>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Nadine Krefetz" class="img-circle" src="{% static 'images/faces/nadine.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Nadine Krefetz: Content Licensing Advisor </h3>
<!--                                                <p class="small-text">Content Licensing Advisor</p> =-->
                                                <p class="description">Nadine is focused on designing tomorrow's media experiences. She has been in the digital media space for many years and has worked on over-the-top TV delivery, enterprise content product development and other digital media projects. She has extensive experience managing projects and programs for a number of media companies and technology vendors involved with digital video. She's especially interested in helping media owners transition to using cryptography and blockchain technologies. She is also a contributing editor at Streaming Media Magazine and writes extensively on technologies that are impacting media today.</p>
						<p class="darklink"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
				<div class="col-md-4">
					<div class="card card-member">
						<div class="content">
							<div class="avatar avatar-danger">
								<img alt="Broden Staples" class="img-circle" src="{% static 'images/faces/broden.jpg' %}"/>
							</div>
							<div class="description">
								<h3 class="title">Broden Staples: Business Development/Blockchain Enthusiast</h3>
<!--								<p class="small-text">Jr Developer</p> -->
								<p class="description">Broden thrives on understanding client business challenges and mobilizing teams and suggesting options to create valuable solutions that drive business results.    Bringing over 15 years of B2B sales management from multiple industry's handling contracts valued in the millions. He has hands on experience with cryptocurrencies, blockchain and trading/programming in Forex markets. Broden currently resides in beautiful Gig harbor, Washington.</p>
								<p class="darklink"><a  href="https://www.linkedin.com/in/broden-staples-020b343b/ ">Broden Staples LinkedIn</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-member">
						<div class="content">
							<div class="avatar avatar-danger">
								<img alt="..." class="img-circle" src="{% static 'images/faces/misterch0c.jpg' %}"/>
							</div>
							<div class="description">
								<h3 class="title">mstr_choc: Security Advisor</h3>
<!--								<p class="small-text">Jr Developer</p> -->
								<p class="description">MisterCh0c is a security passionate and professional. Previously developer, he's been working as a security consultant for over 2 years doing security assessments in a range of different environments (web, industrial control systems, IoT, mobile). He has contributed to several open source projects over the years and continues to do so.</p>
								<p class="darklink"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
